<div id="<%= dom_id user_detail %>">
  <p>
    <strong>First name:</strong>
    <%= user_detail.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user_detail.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user_detail.age %>
  </p>

  <p>
    <strong>Career:</strong>
    <%= user_detail.career %>
  </p>

  <p>
    <strong>Input income:</strong>
    <%= user_detail.input_income %>
  </p>

</div>
